body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 800px;
    position: relative;
    overflow-y: auto; /* Add vertical scrollbar if content overflows vertically */
}
.form-group {
    margin-bottom: 20px;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #555;
}
.range_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2% auto;
}
.sliders_control {
    position: relative;
    min-height: 30px;
}
.form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #635a5a;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}
input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}
input[type="number"] {
    color: #8a8383;
    width: 30px;
    height: 20px;
    font-size: 14px;
    border: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}
#fromSlider {
    height: 0;
    z-index: 1;
}
#map {
    height: 29%;
    width: 95%;
    position: absolute;
}
html,
body {
    height: 75%;
    margin: 5px;
    padding: 0;
}
.map-container {
    background-color: #ddd;
    padding: 0px;
    border: 5px solid #999;
    margin-bottom: 20px;
    height: 31%;
    width: 100%;/* Add margin-bottom to move the buttons below */
}